@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  /* GuardMate Color Palette */
  --color-primary: #293991;
  --color-primary01: #E3F0FF;
  --color-secondary: #49C2EB;
  --color-link: #2F4CFF;
  --color-font: #2A3E48;
  --color-tab: #3D4B52;
  --color-medium-gray: #A2AFC3;
  --color-white: #FFFFFF;
  --color-bg: #F4F4F4;
  --color-unselected: #707D94;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
